# Chapter 1: Pandas Foundations

## Daftar Topik
* [Memahami anatomi DataFrame](#Memahami-anatomi-DataFrame)
* [Mengakses Komponen DataFrame](#Mengakses-Komponen-DataFrame)
* [Memahami Tipe Data](#Memahami-Tipe-Data)
* [Memilih satu kolom dari data sebagai Series](#Memilih-satu-kolom-dari-data-sebagai-Series)
* [Memanggil Method Series](#Memanggil-Method-Series)
* [Bekerja dengan Operator pada Series](#Bekerja-dengan-Operator-pada-Series)
* [Chaining Series methods together](#Chaining-Series-methods-together)
* [Membuat Indeks lebih bermakna :D](#MembuatIndeks-lebih-bermakna-:D)
* [Mengubah Nama Baris dan Kolom](#Mengubah-Nama-Baris-dan-Kolom)
* [Membuat dan Menghapus Kolom](#Membuat-dan-Menghapus-Kolom)

In [1]:
import pandas as pd
import numpy as np

# Memahami anatomi DataFrame

In [2]:
pd.set_option('max_columns', 8, 'max_rows', 10)

In [3]:
movie = pd.read_csv('data/movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,...,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,...,12.0,7.1,NaN,0

# Mengakses Komponen DataFrame

In [4]:
columns = movie.columns
index = movie.index
data = movie.values

In [5]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [6]:
index

RangeIndex(start=0, stop=4916, step=1)

In [7]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [8]:
type(index)

pandas.core.indexes.range.RangeIndex

In [9]:
type(columns)

pandas.core.indexes.base.Index

In [10]:
type(data)

numpy.ndarray

In [11]:
issubclass(pd.RangeIndex, pd.Index)

True

In [12]:
index.values

array([   0,    1,    2, ..., 4913, 4914, 4915])

In [13]:
columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

# Memahami Tipe Data

In [14]:
movie = pd.read_csv('data/movie.csv')

In [15]:
movie.dtypes

color                       object
director_name               object
num_critic_for_reviews     float64
duration                   float64
director_facebook_likes    float64
                            ...
title_year                 float64
actor_2_facebook_likes     float64
imdb_score                 float64
aspect_ratio               float64
movie_facebook_likes         int64
Length: 28, dtype: object

In [16]:
movie.get_dtype_counts()

float64    13
int64       3
object     12
dtype: int64

# Memilih satu kolom dari data sebagai Series

In [17]:
movie = pd.read_csv('data/movie.csv')

In [18]:
movie['director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [19]:
movie.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [20]:
type(movie['director_name'])

pandas.core.series.Series

In [21]:
director = movie['director_name'] # simpan sarive ke variabel
director.name

'director_name'

In [22]:
director.to_frame().head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

# Memanggil Method Series

In [23]:
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

464

In [24]:
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

460

In [25]:
len(s_attr_methods & df_attr_methods)

399

In [26]:
movie = pd.read_csv('data/movie.csv')
director = movie['director_name']
actor_1_fb_likes = movie['actor_1_facebook_likes']

In [27]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [28]:
actor_1_fb_likes.head()

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

In [29]:
pd.set_option('max_rows', 8)
director.value_counts()

Steven Spielberg      26
Woody Allen           22
Clint Eastwood        20
Martin Scorsese       20
                      ..
Enrique Begne          1
Álex de la Iglesia     1
Adrienne Shelly        1
Russ Meyer             1
Name: director_name, Length: 2397, dtype: int64

In [30]:
actor_1_fb_likes.value_counts()

1000.0     436
11000.0    206
2000.0     189
3000.0     150
          ...
216.0        1
859.0        1
225.0        1
334.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

In [31]:
director.size

4916

In [32]:
director.shape

(4916,)

In [33]:
len(director)

4916

In [34]:
director.count()

4814

In [35]:
actor_1_fb_likes.count()

4909

In [36]:
actor_1_fb_likes.quantile()

982.0

In [37]:
actor_1_fb_likes.min(), actor_1_fb_likes.max(), \
actor_1_fb_likes.mean(), actor_1_fb_likes.median(), \
actor_1_fb_likes.std(), actor_1_fb_likes.sum()

(0.0, 640000.0, 6494.488490527602, 982.0, 15106.986883848185, 31881444.0)

In [38]:
actor_1_fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [39]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [40]:
actor_1_fb_likes.quantile(.2)

510.0

In [41]:
actor_1_fb_likes.quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9])

0.1      240.0
0.2      510.0
0.3      694.0
0.4      854.0
        ...
0.6     1000.0
0.7     8000.0
0.8    13000.0
0.9    18000.0
Name: actor_1_facebook_likes, Length: 9, dtype: float64

In [42]:
director.isnull()

0       False
1       False
2       False
3       False
        ...
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [43]:
actor_1_fb_likes_filled = actor_1_fb_likes.fillna(0)
actor_1_fb_likes_filled.count()

4916

In [44]:
actor_1_fb_likes_dropped = actor_1_fb_likes.dropna()
actor_1_fb_likes_dropped.size

4909

## Masih ada lagi

In [45]:
director.value_counts(normalize=True)

Steven Spielberg      0.005401
Woody Allen           0.004570
Clint Eastwood        0.004155
Martin Scorsese       0.004155
                        ...
Enrique Begne         0.000208
Álex de la Iglesia    0.000208
Adrienne Shelly       0.000208
Russ Meyer            0.000208
Name: director_name, Length: 2397, dtype: float64

In [46]:
director.hasnans

True

In [47]:
director.notnull()

0        True
1        True
2        True
3        True
        ...
4912    False
4913     True
4914     True
4915     True
Name: director_name, Length: 4916, dtype: bool

# Bekerja dengan Operator pada Series

In [48]:
pd.options.display.max_rows = 6

In [49]:
5 + 9

14

In [50]:
4 ** 2

16

In [51]:
a = 10

In [52]:
5 <= 9

True

In [53]:
'abcde' + 'fg'

'abcdefg'

In [54]:
not (5 <= 9)

False

In [55]:
7 in [1, 2, 6]

False

In [56]:
set([1,2,3]) & set([2,3,4])

{2, 3}

In [58]:
[1, 2, 3] - 3

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [ ]:
a = set([1,2,3])     
a[0]

## Bersiap untuk memulai

In [ ]:
movie = pd.read_csv('data/movie.csv')
imdb_score = movie['imdb_score']
imdb_score

In [ ]:
imdb_score + 1

In [ ]:
imdb_score * 2.5

In [ ]:
imdb_score // 7

In [ ]:
imdb_score > 7

In [ ]:
director = movie['director_name']

In [ ]:
director == 'James Cameron'

## Masih ada lagi!

In [ ]:
imdb_score.add(1)              # imdb_score + 1

In [ ]:
imdb_score.mul(2.5)            # imdb_score * 2.5

In [ ]:
imdb_score.floordiv(7)         # imdb_score // 7

In [ ]:
imdb_score.gt(7)               # imdb_score > 7

In [ ]:
director.eq('James Cameron')   # director == 'James Cameron'

In [ ]:
imdb_score.astype(int).mod(5)

In [ ]:
a = type(1)

In [ ]:
type(a)

In [ ]:
a = type(imdb_score)

In [ ]:
a([1,2,3])

# Chaining Series methods together

In [ ]:
movie = pd.read_csv('data/movie.csv')
actor_1_fb_likes = movie['actor_1_facebook_likes']
director = movie['director_name']

In [ ]:
director.value_counts().head(3)

In [ ]:
actor_1_fb_likes.isnull().sum()

In [ ]:
actor_1_fb_likes.dtype

In [ ]:
actor_1_fb_likes.fillna(0)\
                .astype(int)\
                .head()

## Masih ada lagi!

In [ ]:
actor_1_fb_likes.isnull().mean()

In [ ]:
(actor_1_fb_likes.fillna(0)
                 .astype(int)
                 .head())

# Membuat Indeks lebih bermakna :D

In [ ]:
movie = pd.read_csv('data/movie.csv')

In [ ]:
movie.shape

In [ ]:
movie2 = movie.set_index('movie_title')
movie2

In [ ]:
pd.read_csv('data/movie.csv', index_col='movie_title')

# Masih ada lagi!

In [ ]:
movie2.reset_index()

# Mengubah Nama Baris dan Kolom

In [ ]:
movie = pd.read_csv('data/movie.csv', index_col='movie_title')

In [ ]:
idx_rename = {'Avatar':'Ratava', 'Spectre': 'Ertceps'} 
col_rename = {'director_name':'Director Name', 
              'num_critic_for_reviews': 'Critical Reviews'}

In [ ]:
movie.rename(index=idx_rename, 
             columns=col_rename).head()

## Masih ada lagi!

In [ ]:
movie = pd.read_csv('data/movie.csv', index_col='movie_title')
index = movie.index
columns = movie.columns

index_list = index.tolist()
column_list = columns.tolist()

index_list[0] = 'Ratava'
index_list[2] = 'Ertceps'
column_list[1] = 'Director Name'
column_list[2] = 'Critical Reviews'

In [ ]:
print(index_list[:5])

In [ ]:
print(column_list)

In [ ]:
movie.index = index_list
movie.columns = column_list

In [ ]:
movie.head()

# Membuat dan Menghapus Kolom

In [ ]:
movie = pd.read_csv('data/movie.csv')

In [ ]:
movie['has_seen'] = 0

In [ ]:
movie.columns

In [ ]:
movie['actor_director_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                              movie['actor_2_facebook_likes'] + 
                                              movie['actor_3_facebook_likes'] + 
                                              movie['director_facebook_likes'])

In [ ]:
movie['actor_director_facebook_likes'].isnull().sum()

In [ ]:
movie['actor_director_facebook_likes'] = movie['actor_director_facebook_likes'].fillna(0)

In [ ]:
movie['is_cast_likes_more'] = (movie['cast_total_facebook_likes'] >= 
                                  movie['actor_director_facebook_likes'])

In [ ]:
movie['is_cast_likes_more'].all()

In [ ]:
movie = movie.drop('actor_director_facebook_likes', axis='columns')

In [ ]:
movie['actor_total_facebook_likes'] = (movie['actor_1_facebook_likes'] + 
                                       movie['actor_2_facebook_likes'] + 
                                       movie['actor_3_facebook_likes'])

movie['actor_total_facebook_likes'] = movie['actor_total_facebook_likes'].fillna(0)

In [ ]:
movie['is_cast_likes_more'] = movie['cast_total_facebook_likes'] >= \
                                  movie['actor_total_facebook_likes']
    
movie['is_cast_likes_more'].all()

In [ ]:
movie['pct_actor_cast_like'] = (movie['actor_total_facebook_likes'] / 
                                movie['cast_total_facebook_likes'])

In [ ]:
movie['pct_actor_cast_like'].min(), movie['pct_actor_cast_like'].max()

In [ ]:
movie.set_index('movie_title')['pct_actor_cast_like'].head()

## Masih ada lagi!

In [ ]:
profit_index = movie.columns.get_loc('gross') + 1
profit_index

In [ ]:
movie.insert(loc=profit_index,
                 column='profit',
                 value=movie['gross'] - movie['budget'])

In [ ]:
movie.head()